# Environnement
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go / binaires
dist/
bin/
app
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
*.test
*.out
*.o
*.a

# Dependencies
vendor/

# Logs
*.log

# Base de données locale
*.db
*.sqlite
*.sqlite3
